APScheduler==3.7.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cs50==6.0.4
fanstatic==1.1
Flask==1.1.2
greenlet==1.0.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
js.json==20110223
MarkupSafe==1.1.1
pytz==2021.1
requests==2.25.1
shutilwhich==1.1.0
six==1.15.0
SQLAlchemy==1.4.7
sqlparse==0.4.1
termcolor==1.1.0
tzlocal==2.1
urllib3==1.26.4
WebOb==1.8.7
Werkzeug==1.0.1
